In [12]:
print("Hello Python Bascis")

Hello Python Bascis

Type Function

In [13]:

type ("english")

str

In [14]:
type (5)

int

Constants and Variable

In [15]:
marvel_super_hero = "Iron Man"
print(marvel_super_hero)

Iron Man

In [16]:
hero1, hero2, hero3 = "Iron man", "Captain America", "bat man "
print (hero1)
print(hero2,hero3)

Iron man
Captain America bat man

In [17]:
#multiple varaible for same letter 

x=y=z=23
print(x)
print(y)
print(z)

23
23
23

#Input Function

In [28]:
number_1 = int(input("Enter the first number : "))
number_2 = int(input("enter the second number: "))



sum = number_2 + number_1
print(sum)

14

Change dataType in pyhton of a value

In [ ]:
num = 5 
print (float(num))

5.0

Basic Data Type in Python

1. Integer 
2. Floating point 
3. Complex
4. Boolean
5. String

In [30]:
# Integers
a = 8
print(a)
# type will tell the data type of a value 


#floating point ( Decimal Points )

b = 2.3 
print(b)
type(b)

8
2.3

float

In [31]:
# Complex Number 

c = 1 +3j

print(c)
type(c)

(1+3j)

complex

Conversion of one data type to another

In [32]:
# int to Float 
x =10
print(x)
type(x)

y = float(x)
print(y)
type(y)

10
10.0

float

In [33]:
# float to int 
x =5.88
print(x)
type(x)

y = int(x)
print(y)
type(y)

5.88
5

int

Boolean

1. true 
2. false

In [35]:
a = True
print(a)
type(a)

True

bool

In [36]:
b = False
print(b)
type(b)

False

bool

In [37]:
a = 7< 3
print(a)
type(a)

False

bool